# Build
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS / VS Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Rider / JetBrains
.idea/

# Logs
*.log

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg

# Publish output
publish/

# OS files
.DS_Store
Thumbs.db